<div class="wrapper page page-register">
	<div class="container">
		<h1>Создание учетный записи</h1>
		<section class="register">
			<form name="registerForm" ng-submit="registerForm.$valid && submit()" novalidate>
				<div class="row">

					<div class="fl col col-33">
						<h3>Тип учетной записи <small>(обязательно)</small></h3>
						<fieldset>
							<ui-select ng-model="data.role" ng-disabled="disabled" search-enabled="false" required>
								<ui-select-match placeholder="Выберите тип">{{ roles[$select.selected] }}</ui-select-match>
								<ui-select-choices repeat="code in availableRoles | filter: $select.search">
									<span ng-bind-html="roles[code] | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</fieldset>
					</div>

				</div>
				<hr ng-if="data.role > 0" />
				<div class="row meta" ng-if="data.role > 0">
					
					<div role="user" ng-if="data.role === 1">
						<div class="fl col col-33">
							<h3>Основная информация</h3>
							<fieldset>
								<input ng-model="data.meta.user.name" type="text" class="form-control" placeholder="Ваше имя" title="Ваше имя" />
							</fieldset>
							<fieldset>
								<input ng-model="data.meta.user.city" type="text" class="form-control" placeholder="Город проживания" title="Город проживания" />
							</fieldset>
						</div>
					</div>
					<div role="pp" ng-if="data.role === 4">
						<div class="col col-66">
							<div class="fl col col-50">
								<h3>Основная информация</h3>
								<fieldset>
									<input ng-model="data.meta.pp.firstname" type="text" class="form-control" placeholder="Ваше имя" title="Ваше имя" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.middlename" type="text" class="form-control" placeholder="Ваше отчество" title="Ваше отчество" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.lastname" type="text" class="form-control" placeholder="Ваша фамилия" title="Ваша фамилия" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.city" type="text" class="form-control" placeholder="Город проживания" title="Город проживания" />
								</fieldset>
							</div>
							<div class="fr col col-50">
								<h3>Паспортные данные</h3>
								<fieldset>
									<input ng-model="data.meta.pp.series" type="text" class="form-control" placeholder="Серия паспорта" title="Серия паспорта" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.number" type="text" class="form-control" placeholder="Номер паспорта" title="Номер паспорта" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.issue" type="text" class="form-control" placeholder="Дата выдачи" title="Дата выдачи" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.pp.by" type="text" class="form-control" placeholder="Кем выдан" title="Кем выдан" />
								</fieldset>
							</div>
						</div>
					</div>

					<div role="mfi" ng-if="data.role === 5">
						<div class="col col-66">
							<h3>Данные организации</h3>
							<div class="fl col col-50">
								<fieldset>
									<input ng-model="data.meta.mfi.name" type="text" class="form-control" placeholder="Название компании" title="Название компании" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.mfi.legalname" type="text" class="form-control" placeholder="Юридическое название компании" title="Юридическое название компании" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.mfi.legaladdress" type="text" class="form-control" placeholder="Юридический адрес" title="Юридический адрес" />
								</fieldset>
							</div>
							<div class="fr col col-50">
								<fieldset>
									<input ng-model="data.meta.mfi.bin" type="text" class="form-control" placeholder="ОГРН" title="ОГРНы" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.mfi.inn" type="text" class="form-control" placeholder="ИНН" title="ИНН" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.mfi.actualaddress" type="text" class="form-control" placeholder="Фактический адрес" title="Фактический адрес" />
								</fieldset>
							</div>
						</div>
					</div>

					<div role="ps" ng-if="data.role === 6">
						<div class="col col-66">
							<h3>Данные организации</h3>
							<div class="fl col col-50">
								<fieldset>
									<input ng-model="data.meta.ps.name" type="text" class="form-control" placeholder="Название компании" title="Название компании" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.ps.legalname" type="text" class="form-control" placeholder="Юридическое название компании" title="Юридическое название компании" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.ps.legaladdress" type="text" class="form-control" placeholder="Юридический адрес" title="Юридический адрес" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.ps.license" type="text" class="form-control" placeholder="Номер лицензии" title="Номер лицензии" />
								</fieldset>
							</div>
							<div class="fr col col-50">
								<fieldset>
									<input ng-model="data.meta.ps.bin" type="text" class="form-control" placeholder="ОГРН" title="ОГРН" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.ps.inn" type="text" class="form-control" placeholder="ИНН" title="ИНН" />
								</fieldset>
								<fieldset>
									<input ng-model="data.meta.ps.actualaddress" type="text" class="form-control" placeholder="Фактический адрес" title="Фактический адрес" />
								</fieldset>
							</div>
						</div>
					</div>

				</div>
				<hr/>
				<div class="row required">

					<div class="fl col col-33">
						<h3>Учетные данные <small>(обязательно)</small></h3>
						<fieldset>
							<input ng-model="data.email" type="email" class="form-control" placeholder="Ваш e-mail" title="Ваш e-mail" required />
						</fieldset>
						<fieldset>
							<input ng-model="data.password" equals="{{ data.password_confirmation }}" type="password" class="form-control" placeholder="Пароль" title="Пароль" required />
						</fieldset>
						<fieldset>
							<input ng-model="data.password_confirmation" equals="{{ data.password }}" type="password" class="form-control" placeholder="Подтвердите пароль" title="Подтвердите пароль" required />
						</fieldset>
					</div>

				</div>
				<hr/>
				<div class="row">

					<div class="fl col col-33">
						<h3>Контактные данные</h3>
						<fieldset>
							<input ng-model="data.contacts.name" type="text" class="form-control" placeholder="Ваше имя" title="Ваше имя" />
						</fieldset>
						<fieldset>
							<input ng-model="data.contacts.phone" type="text" class="form-control" placeholder="Контактный телефон" title="Контактный телефон" />
						</fieldset>
						<fieldset>
							<input ng-model="data.contacts.email" type="email" class="form-control" placeholder="Контактный e-mail" title="Контактный e-mail" />
						</fieldset>
					</div>

				</div>
				<hr/>
				<div class="row agreement">

					<div class="col">
						<fieldset>
								Регистрируясь Вы принимаете условия <a href="#">Пользовательского соглашения</a> и даете согласие на обработку персональных данных в соответствии с законодательством России и <a href="#">Политикой конфиденциальности</a>.
						</fieldset>
					</div>

				</div>
				<div class="row submit">

					<fieldset>
						<input type="submit" class="btn primary" value="Зарегистрироваться" />
					</fieldset>

				</div>
			</form>
		</section>
		
		<section class="benefits">
			<h2>Преимущества личного кабинета</h2>
			<div class="row">
				<div class="col">
					<div class="clip"><i class="fa fa-pencil-square-o"></i></div>
					<h3>Редактирование информации</h3>
				</div>
				<div class="col">
					<div class="clip"><i class="fa fa-toggle-off"></i></div>
					<h3>Подключение услуг</h3>
				</div>
				<div class="col">
					<div class="clip"><i class="fa fa-line-chart"></i></div>
					<h3>Контроль статистики</h3>
				</div>
				<div class="col">
					<div class="clip"><i class="fa fa-credit-card"></i></div>
					<h3>Оплата</h3>
				</div>
			</div>
		</section>
	</div>
</div>