@import "../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

/**
 * CUSTOM CSS
 */

header {
	padding: 34px 0px;
	.logo {
		padding: 0px;
		height: auto;
		margin-top: 10px;
		margin-right: 34px;
	}
	.slogan {
		margin: 4px 0px;
		color: #002c69;
		font-size: 16px;
	}
}
