/**
 * VARIABLES LESS
 */

// paths
@assets-path:                      "../assets/";
@icon-path:                        "@{assets-path}fonts/";
@fa-font-path:                     @icon-path;

// colors
@gray-base:                        #000;
@gray-darker:                      lighten(@gray-base, 13.5%);
@gray-dark:                        lighten(@gray-base, 23%);
@gray:                             lighten(@gray-base, 33.5%);
@gray-light:                       lighten(@gray-base, 46.7%);
@gray-lighter:                     lighten(@gray-base, 93.5%);

@brand-primary:                    #8ccb00;

// base
@body-bg:                          #fff;
@text-color:                       @gray-dark;

// grid
@padding-base-vertical:            12px;
@padding-base-horizontal:          24px;
@padding-base-block:               68px;
@grid-gutter-width:                40px;
@container-width:                  1100px + @grid-gutter-width;

// fonts
@font-family-sans-serif:           "Roboto", Arial, sans-serif;
@font-family-base:                 @font-family-sans-serif;
@font-size-base:                   15px;
@font-size-large:                  ceil((@font-size-base * 1.25));
@font-size-small:                  ceil((@font-size-base * 0.85));

@cursor-disabled:                  not-allowed;

// line-heights
@line-height-base:                 1.285714285; // 18/14
@line-height-normal:               1.428571429; // 20/14
@line-height-computed:             floor((@font-size-base * @line-height-base));

//headings
@font-size-h1:                     floor((@font-size-base * 2.6));
@font-size-h2:                     floor((@font-size-base * 2.15));
@font-size-h3:                     ceil((@font-size-base * 1.7));
@font-size-h4:                     ceil((@font-size-base * 1.25));
@font-size-h5:                     @font-size-base;
@font-size-h6:                     ceil((@font-size-base * 0.85));

@headings-font-family:             inherit;
@headings-font-weight:             500;
@headings-line-height:             1.1;
@headings-color:                   inherit;

// tables
@table-cell-padding:               8px;
@table-condensed-cell-padding:     5px;
@table-bg:                         transparent;
@table-border-color:               #ddd;

// other colors
@headings-small-color:             @gray-light;
@hr-border:                        @gray-lighter;
@text-muted:                       @gray-light;
@mark-bg:                          @gray-lighter;

// links
@link-color:                       #004997;
@link-hover-color:                 #004997;
@link-hover-decoration:            underline;

// buttons
@btn-font-weight:                  500;
@btn-font-size:                    16px;
@btn-padding-vertical:             10px;
@btn-padding-horizontal:           24px;
@btn-border-radius-base:           30px;

@btn-default-color:                #fff;
@btn-default-bg:                   #95a4ba;
@btn-default-border:               @btn-default-bg;

@btn-primary-color:                #fff;
@btn-primary-bg:                   @brand-primary;
@btn-primary-border:               @btn-primary-bg;

@btn-inverse-color:                #00428e;
@btn-inverse-bg:                   #fff;
@btn-inverse-border:               @btn-inverse-bg;

// custom
@navbar-height:                    60px;
@navbar-padding-top:               floor((@navbar-height - @line-height-computed) / 2);
@navbar-padding-bottom:            ceil((@navbar-height - @line-height-computed) / 2);
@navbar-link-hover-bg:             @brand-primary;
@navbar-link-hover-color:          #fff;